*{
  margin: 0;
  scroll-behavior: smooth;
}

.App{
  min-width:100vh;
  background-color:rgba(28, 100, 209, 0.733);
  color:rgba(0, 0, 0, 0.452);
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width:700px){
  .App{
    padding-top:70px;
  }
}

.pageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content:center;
  font-size: 2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 4px;
  /* border-radius:50px; */
  color: rgba(0, 0, 0, 0.973);
}

@media (max-width:1000px){
  .pageTitle{
    font-size:5.4vw;
  }
}